.logo {
    max-height: 50px;
}
/* ------------------------------- */
/* Style for register.php */
.reg-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.reg-form {
    background: linear-gradient(to bottom,rgb(179, 167, 200) 50%,rgb(97, 199, 189) 100%);
    border-radius: 5px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}
.reg-form-title {
    border-bottom: 1px solid #f0f0f0;
    background-color: rgb(157, 184, 198);
    text-shadow: 1px 1px 1px blue;
    color: white;
    padding: 20px 40px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
}
.registerForm {
    padding: 30px 40px;
}
.reg-form-control-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.reg-form-control {
    width: 80%;
}
.reg-form-control-wrapper label {
    display: inline-block;
    color: azure;
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.reg-form-control-wrapper input {
    border: 2px solid lightgray;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}
.registerForm .reg-button {
    background-color: rgb(37, 123, 134);
    border: 2px solid #4169E1;
    border-radius: 4px;
    color: aliceblue;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
.registerForm .reg-button:hover {
    background-color: aliceblue;
    cursor: pointer;
    color: rgb(37, 123, 134);
}
.reg-error {
    color: fuchsia;
    font-weight: 900;
}